.welcomeTitle{
    font-size:40px;
    text-align: center;
    color: #eeeeee;
    font-family: "Bookman Old Style";
    font-weight: bolder;
    text-shadow: 2px 2px 8px #0e0e0e;
}

.titleContainer{
    height: 185px;
    width: 530px;
    margin: 20px auto;
    background:transparent;
    padding: inherit;

    -webkit-box-shadow:0px 0px 100px #0e0e0e;
    -moz-box-shadow: 0px 100px 100px #0e0e0e;
    box-shadow: 0px 0px 100px #0e0e0e;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;

    border: 8px solid transparent;
}

.buttonalign{
    position: relative;
    right: -140px;
}

.signIn{
    position: relative;
    top: 100px;
}

.loginLabels{
    font-size: 16px;
    text-shadow:#b3b3b3 2px 2px 4px;
}

#loginP{
    position: relative;
    font-size: 13px;
    right: -100px;
    font-weight:bold;
    top: 30px;
}

.loginAlternative{
    position: relative;
    font-size: 14px;
    right: -50px;
    font-weight:bold;
    top: 30px;
}

.signupbtn{
    position: relative;
    top:auto;
    right: -180px;
    border: solid;
    border-color: #387038;
}

.signupcontainer{

    position: relative;
    height: inherit;
    width: 550px;
    margin: 2px auto;
    background:transparent;
    padding: inherit;

    -webkit-box-shadow:0px 0px 100px #0e0e0e;
    -moz-box-shadow: 0px 100px 100px #0e0e0e;
    box-shadow: 0px 0px 100px #0e0e0e;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;

    border: 8px solid transparent;
}

.labelFonts{
    font-size: 16px;
    text-shadow:#b3b3b3 1px 1px 3px;
}

.addBookBtn{
    position: relative;
    right: -140px;
    top: auto;
    border: solid;
    border-color: #387038;
}

.addbookcontainer{

    position: relative;
    height: inherit;
    width: 400px;
    margin: 1px auto;
    background:transparent;

    -webkit-box-shadow:0px 0px 100px #0e0e0e;
    -moz-box-shadow: 0px 100px 100px #0e0e0e;
    box-shadow: 0px 0px 100px #0e0e0e;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;

    border: 8px solid transparent;
}

.addbookrow{
    position: relative;
    top: 50px;
}

.addbooklabel{
    font-size: 16px;
    text-shadow:#b3b3b3 1px 1px 3px;
}

.left{
    padding: inherit;
    position: relative;
    left: -120px;
}

.navbarFonts{
    font-size: 15px;
    text-shadow:#b3b3b3 1px 1px 3px;
    font-weight: bold;
}

.nav li a {
    display: block;
    line-height: 25px;
    text-decoration: none;
    color: #0e0e0e;
}

.thumbnail{
    background: transparent;
    border: solid 1px;
    -webkit-box-shadow:0px 0px 10px #0e0e0e;
    -moz-box-shadow: 0px 0px 10px #0e0e0e;
    box-shadow: 0px 0px 10px #0e0e0e;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    font-size: 15px;
    font-weight: 700;
}

.thumbnail img{
    max-height: 180px;
}

.thumbnail.description{
    color: #969191;
}

.buybook{
    border: solid;
    border-color: #387038;
}

.notAvailable{
    border: solid;
    border-color: #942a25;
}

.paginateAlign{
    position: relative;
    right: -500px;
}

.adddone{
    position: relative;
    right: 0px;
    text-align: center;
}

.panelBorder{
    background: transparent;
    border: solid 1px;
    -webkit-box-shadow:0px 0px 10px #0e0e0e;
    -moz-box-shadow: 0px 0px 10px #0e0e0e;
    box-shadow: 0px 0px 10px #0e0e0e;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    font-size: 15px;
    font-weight: 700;
}

.storeViewPaginateAlign{
    position: relative;
    right: -260px;
}


.badgeqtyok{
    background:green;
    text-align:center;
    box-shadow:0 0 1px #333;
}

.badgeqtyalert{
    background:#ff3138;
    text-align:center;
    box-shadow:0 0 1px #333;
}

.alignauthor{
    position: relative;
    text-align: center;
    background: #b3b3b3;
    right: 30px;
    font-size: 13px;
}

.alignprice{
    position: absolute;
    text-align: center;
    background: #b3b3b3;
    left: 400px;
}

.modify{
    left: auto;
}


.badgeqty{
    position: absolute;
    right: 150px;
    top: inherit;
    border: solid;
    border-radius: 20%;
    border-color: #62c462;
    background: #5bb75b;
    color: #f5f8fa;
}

.total{
    font-size:18px;
    right:-200px;
    position: relative;
}

.checkoutModify{
    text-align: center;
}

.check{
    text-align: center;
}

.buy{
    position: relative;
    right: -130px;
    border: solid;
    border-color: #387038;
    margin-bottom: 10px;
}

.badgePurchaseSuccess{
    position: absolute;
    right: 100px;
    background: #5bb75b;
}

.panelModify{
    background: transparent;
    border: solid 1px;
    -webkit-box-shadow:0px 0px 10px #0e0e0e;
    -moz-box-shadow: 0px 0px 10px #0e0e0e;
    box-shadow: 0px 0px 10px #0e0e0e;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    font-size: 15px;
    font-weight: 700;
}